APP_PORT='8080'
APP_USERNAME='admin'
APP_PASSWORD='admin'
DB_USERNAME='nonroot'
DB_PASSWORD='nonroot'
DB_HOST='user-db-container'
DB_PORT='3306'
DB_NAME='auth2'
JWT_PRIVATE_KEY='mySignaturePrivateKey'