APP_PORT='1234'
API_HOST='http://user-container:8080/'
API_USERNAME='admin'
API_PASSWORD='admin'
DB_USERNAME='nonroot'
DB_PASSWORD='nonroot'
DB_HOST='exercise-db-container'
DB_PORT='3306'
DB_NAME='course2'
JWT_PRIVATE_KEY='mySignaturePrivateKey'